<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>404</h1>
                <h4>page not found</h4>
                <p>we're sorry, the page you have looked for does not exist in our database!</p>
                <p>maybe go to our home page or try to use search?</p>
                <form action="" autocomplete="off">
                    <input type="search" name="search" id="search" placeholder="search">
                    <button type="submit"><i class="bi bi-search"></i></button>
                </form>
                <a [routerLink]="['/']" routerLinkActive="router-link-active" >go back to home page</a>
            </div>
        </div>
    </div>
</section>
