<header>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>about tozee</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis
          accusamus magnam, eligendi vel laboriosam illum quisquam voluptates.
          Libero sit itaque, labore totam aperiam expedita. Deleniti at quas
          doloremque quaerat commodi.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem
          voluptatem ipsam, doloribus qui ea ab eum dolor velit eaque,
        </p>
      </div>
      <div class="col-md-6">
        <article>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum at
          culpa rerum fugit consectetur atque ea expedita dolore totam
          veritatis! Iure eaque totam nisi eveniet aliquid maxime, modi sit
          similique.
        </article>
        <strong>Michael D.Wilson - CEO of tozee</strong>
      </div>
      <div class="col-md-12 header-photo">
        <img src="../../assets/img/about.jpg" alt="team" />
      </div>
    </div>
  </div>
</header>
<section class="mission">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <h3>mission</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde odit,
          voluptate optio itaque saepe ea ut porro amet doloribus eveniet
          doloremque fuga, reprehenderit mollitia praesentium placeat, quo at
          nesciunt eligendi!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          aperiam assumenda asperiores quos animi laudantium fugit fugiat
          impedit iure exercitationem ipsam quo. Eligendi alias sapiente cumque
          consectetur sit neque deleniti.
        </p>
      </div>
      <div class="col-lg-5">
        <div class="vision">
          <h3>vision</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
            porro, repellendus deleniti, incidunt, modi eligendi praesentium
            veritatis impedit molestias cum delectus! Atque facilis quia minima
            dicta hic quibusdam consequatur illo?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="values">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img src="../../assets/img/about-photo.jpg" alt="white-house" />
      </div>
      <div class="col-lg-6">
        <h3>our values</h3>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique
          adipisci atque iusto, eos veritatis neque obcaecati accusantium odio
        </p>
        <app-values></app-values>
      </div>
    </div>
  </div>
</section>
<app-subscribe></app-subscribe>