header {
  p {
    max-width: 700px;
  }
}
section {
  .card {
    background-color: #fff301;
    padding: 30px;
    border: none;
    border-radius: 0;
    text-align: center;
    img {
      height: 300px;
      width: auto;
      object-fit: contain;
    }
    h5 {
      font-size: 26px;
      font-weight: bold;
      text-transform: capitalize;
      padding: 20px 0;
    }
    p {
      font-size: 20px;
      line-height: 25px;
    }
  }
}
