<div class="row">
  <div class="col-md-3">
    <div class="card">
      <h4>{{yearscount}}</h4>
      <p>years of services</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <h4>{{projectcounts}}</h4>
      <p>civil and rail projects</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <h4>{{combuildingscount}}</h4>
      <p>comercial buildings</p>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <h4>{{resbuildingscount}}</h4>
      <p>residental buildings</p>
    </div>
  </div>
</div>

