<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>keep up with the latest from tazee</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas,
          rem dolorum aspernatur assumenda ad fuga, distinctio quod voluptates
          at earum aliquam facilis, eaque odio magni. Ullam ex possimus suscipit
          ipsum!
        </p>
        <form action="">
          <div class="row">
            <div class="col-md-10">
              <input
                type="email"
                id="email"
                name="email"
                placeholder="typing"
              />
            </div>
            <div class="col-md-2">
              <button type="submit">subscribe</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
