header {
  p {
    max-width: 700px;
  }
}
section {
  .card {
    border: none;
    border-radius: 0;
    background-color: #ededed;
    img {
      border-radius: 0;
      height: 230px;
      object-fit: cover;
    }
    .card-body {
      padding: 20px;
      height: 320px;
      h5 {
        font-size: 22px;
        font-weight: bold;
      }
      h6 {
        padding: 20px 0;
        color: #727272;
        font-weight: bold;
      }
      p{
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}